@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-vue/dist/bootstrap-vue.css';

body{
  background-color: #141414;
  color: #ffffff;
  font-weight: bold;
  overflow-x: hidden;
  margin-bottom: 15px;
  font-family: 'Montserrat';
}
