<template>
  <div>
    <addMovieModal v-bind:modalId="movieModalId"></addMovieModal>
    <div class="row category-row">
      <label>Upcoming</label>
    </div>
    <landingMoviesList v-bind:movies="movies.upcoming" v-bind:category="'upcoming'"></landingMoviesList>
    <div class="row category-row">
      Top rated
    </div>
    <landingMoviesList v-bind:movies="movies.topRated" v-bind:category="'topRated'"></landingMoviesList>
    <div class="row category-row">
      Popular
    </div>
    <landingMoviesList v-bind:movies="movies.popular" v-bind:category="'popular'"></landingMoviesList>
    <div class="row category-row">
      Now Playing
    </div>
    <landingMoviesList v-bind:movies="nowPlayingMovies" v-bind:category="'nowPlaying'"></landingMoviesList>

  </div>
</template>

<script>

import axios from 'axios'
import landingMoviesList from './LandingMoviesList'
import addMovieModal from './LandingModalAddMovie'

export default {
  name: 'Homepage',
  data () {
    return {
      movies: [
        {upcoming: [] },
        {topRated: []},
        {popular: []},
        {nowPlaying: []},
      ],
      nowPlayingMovies: [],
      results: '',
      movieModalId : 'ModalId',
      postersPerScreen: 8
    }
  },
  components:{
    landingMoviesList, addMovieModal
  },
  created(){

    if(localStorage.movies)
    {
      try{
        let localMovies = JSON.parse(localStorage.getItem('movies'));
        localMovies.forEach(element => {
          console.log('local storage element: ' + element);
          if(element.category === 'upcoming')
          {
            if(this.movies.upcoming)
              this.movies.upcoming.unshift(element);
            else
            {
              this.movies.upcoming = new Array();
              this.movies.upcoming.push(element);
            }
          }

          if(element.category === 'topRated')
          {
            if(this.movies.topRated)
              this.movies.topRated.unshift(element);
            else
            {
              this.movies.topRated = new Array();
              this.movies.topRated.push(element);
            }
          }

          if(element.category === 'popular')
          {
            if(this.movies.popular)
              this.movies.popular.unshift(element);
            else
            {
              this.movies.popular = new Array();
              this.movies.popular.push(element);
            }
          }

          if(element.category === 'nowPlaying')
          {
            if(this.movies.nowPlaying)
              this.movies.nowPlaying.unshift(element);
            else
            {
              this.movies.nowPlaying = new Array();
              this.movies.nowPlaying.push(element);
            }
          }

        });
      }
      catch(e){
        console.log('error reading local storage: ' + e);
        localStorage.removeItem(localStorage.removeItem('movies'));
      }
    }
    axios
    .get('https://api.themoviedb.org/3/movie/upcoming?api_key=6f26fd536dd6192ec8a57e94141f8b20')
    .then(response => {
      if(this.movies.upcoming)
        this.movies.upcoming = this.movies.upcoming.concat(response.data.results);
      else
        this.movies.upcoming = response.data.results;
    }),

    axios
    .get('https://api.themoviedb.org/3/movie/top_rated?api_key=6f26fd536dd6192ec8a57e94141f8b20')
    .then(response => {
      if(this.movies.topRated)
        this.movies.topRated = this.movies.topRated.concat(response.data.results);
      else
        this.movies.topRated = response.data.results;
    }),

    axios
    .get('https://api.themoviedb.org/3/movie/popular?api_key=6f26fd536dd6192ec8a57e94141f8b20')
    .then(response => {
      if(this.movies.popular)
        this.movies.popular = this.movies.popular.concat(response.data.results);
      else
        this.movies.popular = response.data.results;
    }),

    axios
    .get('https://api.themoviedb.org/3/movie/now_playing?api_key=6f26fd536dd6192ec8a57e94141f8b20')
    .then(response => {
      this.nowPlayingMovies = response.data.results
      console.log(this.movies.nowPlaying);
    })
  },
  methods:{

  }
}
</script>

<style lang="scss" scoped>

  img{
    max-width: 100%;
    max-height: 100%;
  }

  .category-row{
    margin-top: 65px;
    padding-bottom: 8px;
    margin-left:inherit;
  }

</style>


