<template>
  <div class="row root">
      <div class="col-md-12">
        <div v-bind:id="category" class="carousel slide" data-interval="false">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-2 movie" v-bind="movie.id" v-for="movie in movies.slice(0,6)" :key="movie.id">
                  <a v-if="movie.poster_path.length < 100" href="#">
                    <img v-bind:src="'https://image.tmdb.org/t/p/w500' + movie.poster_path">
                  </a>
                  <a v-else href="#">
                    <img v-bind:src="movie.poster_path">
                  </a>
                  <div class="movie-details">
                    <span>{{movie.title}}</span>
                  </div>
                </div>
              </div>
            </div>

              <div v-for="i in Math.ceil(movies.length/6)-1" v-bind:key="i" class="carousel-item">
                <div class="row">
                  <div class="col-md-2 movie" v-bind="movie.id" v-for="movie in movies.slice(6 * i, (6*i)+6)" :key="movie.id">
                    <a v-if="movie.poster_path.length < 100" href="#">
                      <img v-bind:src="'https://image.tmdb.org/t/p/w500' + movie.poster_path">
                    </a>
                    <a v-else href="#">
                      <img v-bind:src="movie.poster_path">
                    </a>
                    <div class="movie-details">
                      <span>{{movie.title}}</span>
                    </div>
                  </div>
                </div>

            </div>
          </div>
          <a class="carousel-control-next" v-bind:href="'#' + category" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      moviesGroup:[{
        group: []
      }],
      carouselWidth: '',
      posterGroup: [],
      n: 0
    }
  },
  props:{
    movies: [],
    category: '',
  }
}
</script>

<style scoped>

  .row{
    max-height: 30vh;
    min-height: 10vh;
    margin-bottom: 12px;

  }

  .movie{
    display: inline-block;
  }

  img{
    max-height: 100%;
    min-height: 100%;
    width: 100%;
    padding-right: 2px;
  }

  .movie-details{
    position: absolute;
    padding-right: inherit;
    padding-left: inherit;
    bottom: 0;
    top: 0;
    right: 15px;
    left: 15px;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    transition: 450ms opacity;
  }

  .movie-details span{
    position: absolute;
    top:80%;
    left:25px;
    right:25px;
  }

  .movie-details:hover{
    opacity: 1;
  }

</style>
