<template>
  <div>
    <button class="addMovieButton" data-toggle="modal" data-target="#movieModal" >Add new movie</button>
    <div class="modal fade" id="movieModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form @submit.prevent="save">
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="upload-file">
                      <img src = "https://res.cloudinary.com/mercuryal-labs/image/upload/v1548267783/file-drop_vcdpgv.png">
                    </div>
                    <input type="file" name="moviePoster" class="input-file" @change="fileChange">
                  </div>
                  <div class="col-md-8 modal-form">
                    <div class="row">
                      <input type="text" name="movieName" placeholder="Movie Tittle" v-model="form.name">
                    </div>
                    <div class="row">
                      <select name="category" v-model="form.category">
                        <option disabled value="">Category</option>
                        <option value="upcoming">Upcoming</option>
                        <option value="topRated">Top Rated</option>
                        <option value="popular">Popular</option>
                        <option value="nowPlaying">Now Playing</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="addMovieButton" id="btnYes">Save</button>

              </div>
            </form>
          </div>
      </div>
    </div>
  <!--  <img v-bind:src="form.image" alt=""> -->
  </div>
</template>

<script>
export default {
  data(){
    return{
      form:{
        name: '',
        category: '',
        image: ''
      },
      movie:{
        id: '',
        poster_path: '',
        title: '',
        category: ''
      },
      localMovies: []
    }
  },
  mounted(){
    if(localStorage.movies)
    {
      try{
        this.localMovies = JSON.parse(localStorage.getItem('movies'));
      }
      catch(e){
        localStorage.removeItem(localStorage.removeItem('movies'));
      }
    }
  },
  props:{
    modalId: ''
  },
  methods:{
    save(){
      //retrieve data from form
      this.movie.id = this.$parent.movies.upcoming[0].id + '1';
      this.movie.title = this.form.name;
      this.movie.category = this.form.category;
      this.movie.poster_path = this.form.image;

      console.log('movie saved: ' + this.movie.poster_path);

      //save on localStorage
      this.localMovies.push(this.movie);
      const parsed = JSON.stringify(this.localMovies);
      localStorage.setItem('movies', parsed);
      this.addMovie(this.movie.category, this.movie);

      //close modal
      $('#movieModal').modal('toggle');
    },
    addMovie(category, movie){
      switch(category) {
        case 'upcoming':
          this.$parent.movies.upcoming.unshift(movie);
        break;
        case 'topRated':
          this.$parent.movies.topRated.unshift(movie);
        break;
        case 'popular':
          this.$parent.movies.popular.unshift(movie);
        break;
        case 'nowPlaying':
          this.$parent.movies.nowPlaying.unshift(movies);
        break;
      default:
    // code block
    }
    },
    fileChange(e){
      console.log(e.target.files[0])

      var fileReader = new FileReader()
      fileReader.readAsDataURL(e.target.files[0])

      fileReader.onload = (e) => {
        this.form.image = e.target.result
        console.log(e.target.result);
      }
    }
  },
}
</script>

<style scoped>

  .addMovieButton{
    background-color: #eb352b;
    border: none;
    color: #ffffff;
    width: 157px;
    height: 33px;
    font-size: 16px;
    vertical-align:text-top;
  }

    .modal-dialog{

  }

  .modal-content{
    border: 1px solid #ffffff;
    background-color: #151515;
    border-radius: 0px;
  }

  .modal-body{
    color: #2b2b2b;
  }

  .modal-footer{
    border-top: 0 none;

  }

  .modal-form{
    border-bottom: 1px solid #ffffff;
  }

  .input-file{
    opacity: 0;
    max-width: 100%;
    height: 80%;
    background-image: url(https://res.cloudinary.com/mercuryal-labs/image/upload/v1548267783/file-drop_vcdpgv.png);
    cursor: pointer;
  }

  input{
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    background-color: #151515;
    color: #2b2b2b;
    font-weight: bold;
  }

  .upload-file{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    align-content: center;
  }

  .upload-file img{
    margin-left: 10px;
    max-width: 80%;
  }

  select{
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    background-color: #151515;
    color: #2b2b2b;
    font-weight: bold;
  }
</style>

