<template>
  <div class="container-fluid" id="app">
  <!--  <button class="addMovieButton" data-toggle="modal" data-target="#movieModal" >Add new movie</button> -->
    <router-view></router-view>
  </div>
</template>

<script>
import axios from 'axios'
import addMovieModal from './pages/LandingModalAddMovie'

export default {
  name: 'App',
  data(){
    return{
      movieModalId : 'movieModal'
    }
  },
  components:{
    addMovieModal
  }
}
</script>

<style scoped>
  .addMovieButton{
    background-color: #eb352b;
    border: none;
    color: #ffffff;
    width: 157px;
    height: 33px;
    font-size: 16px;
    vertical-align:text-top;
  }

  .container{
    padding: 0px;
  }

  #app{
    margin-top: 2.5%;
    margin-left: 4%;
  }

  .modal-dialog{

  }

  .modal-content{
    border: 1px solid #ffffff;
    background-color: #151515;
    border-radius: 0px;
  }

  .modal-body{
    color: #2b2b2b;
  }

  .modal-footer{
    border-top: 0 none;

  }

  .modal-form{
    border-bottom: 1px solid #ffffff;
  }

  .input-file{
    opacity: 0;
    max-width: 100%;
    height: 80%;
    cursor: pointer;
  }

  input{
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    background-color: #151515;
    color: #2b2b2b;
    font-weight: bold;
  }

</style>

